<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="../static/landingstyles.css">
</head>

<body>
    <div class="wrapper">
        <div class="login_buttons">
            <h1>TubifySync</h1>
            <div class="youtube">
                <a href="about::home">Log in with Youtube Music</a>
            </div>
            <p>or</p>
            <div class="spotify">
                <a href="/spotify_login">Log in with Spotify</a>
            </div>
        </div>
</body>

</html>